
.top-bar {
    background-color: yellow;
    color: black;
    padding: 15px;
    text-align: left;
    font-size: 24px;
    font-weight: bold;
}


.btn {
    background-color: white;
    color: black;
    padding: 10px 20px;
    text-decoration: none;
    margin-right: 10px;
    border-radius: 8px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    display: inline-block;
}

.btn:hover {
    background-color: purple;
    color: white;
}


.form-container {
    background-color: #f3f3f3;
    width: 60%;
    margin: 40px auto;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 0 12px rgba(0,0,0,0.2);
}


form label {
    display: block;
    font-weight: bold;
    margin-top: 20px;
}

form select,
form textarea,
form input[type="submit"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-top: 8px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

form input[type="submit"]:hover {
    background-color: purple;
    color: white;
    cursor: pointer;
}
